__pycache__/
*.pyc
.venv/
venv/
.env
artifacts/
*.pt
*.onnx
*.mp4
*.avi
dataset/
test1.jpg
train.py
# YOLO runs: игнорировать всё в runs/detect, кроме train5
runs/detect/**
!runs/detect/
!runs/detect/train5/
!runs/detect/train5/**